.marker-status-badge {
    width: 100%;
    padding: 0.5rem;
    text-align: center;
}

.marker-card {
    font-size: .95rem;
}

.marker-container {
    height: auto;
}

.marker-full-width-btn {
    margin-top: .5rem;
    width: 100%;
}